.question-title {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 10px;
}

::ng-deep .mat-mdc-snack-bar-container:hover .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    color: #333;
    --mat-text-button-state-layer-color: #fff;
    --mat-text-button-ripple-color: #fff;
}